/* body {
  background-color: #333;
  color: #fff;
}

.container {
  padding: 100px 100px 50vh;
  height: 100%;
}

.transition {
  height: 100%;
}

.button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  text-transform: uppercase;
  font-family: sans-serif;
  background-color: #555;
}

.block {
  width: 10px;
  height: 150px;
}

.red {
  background-color: rgb(221, 108, 108);
}
.blue {
  background-color: rgb(116, 108, 221);
}
.orange {
  background-color: rgb(221, 163, 108);
}
.purple {
  background-color: rgb(166, 108, 221);
}

.transition:hover .block {
  width: 100%;
} */

/* ----------------------------------------------------- */
/* .button {
  transition: border-radius 3s,background-color 3s 3s;
  
  transition-property: background-color,border-radius ;
  transition-duration: 1s, 1s;
  transition-delay: 0s, 1s;
  transition-timing-function: ;
} */

/* .button:hover {
  background-color: rgb(18, 161, 66);
  border-radius: 100px;
}

.block {
  transition: 3s;
}

.red {
  transition-timing-function: ease;
}

.blue {
  transition-timing-function: ease-in;
}

.orange {
  transition-timing-function: ease-in-out;
}
.purple {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
} */


.block {
border: 5px solid #000000;
background-color: rgb(67, 112, 151);
transition-property:border;
transition-delay: 2s;
transition-duration: 3s; 
}

.block1 {
  border: 5px solid #000000; 
  background-color: rgb(67, 112, 151);
  transition: border, 3s 2s; 
}    




