body {
  background-color: #333;
  color: #fff;
  font-family: sans-serif;
  font-size: 2rem;
}

.wrapper {
  padding: 50px;
  min-height: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.link {
  display: block;
  background-color: #555;
  border-radius: 2em;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.input {
  display: block;
  width: 100%;
  padding: 2em;
  margin-bottom: 100px;
  font-size: inherit;
}

.button {
  display: block;
  background-color: #555;
  border-radius: 2em;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
  font-size: inherit;
  color: inherit;
  margin-bottom: 100px;
  width: 100%;
}

/* -------------------------------------------------------- */
/* 
.link:visited {
  background-color: #5d03d1;
}

.link {
  transition: all .3s;
}

.link:hover {
  background-color: #00ff80;
}

.link:active {
  background-color: #921111;
}

:focus {
  box-shadow: 0 0 100px 10px #ac2222;
}

.input:focus {}

.button:focus {}

.list__item:first-child {
  color: #921111;
}

.list__item:last-child {
  color: #5c00d4;
}

.list__item:nth-child(even) {
  color: #96ca35;
}

.block__item:nth-child(2) {
  color: green;
} */

.menu__item:first-child:hover {
  color: red;

}